@charset "utf-8";

html {
    background-color: #eee;
}

h1 {
    position: absolute;
    top: 0%;
	left:0;
	right:0;
}

#语言 {
    position: absolute;
    top: 5px;
    right: 5px;
}
#finalImg {
	visibility: hidden;
    position: absolute;
	left: 50%;
	margin-left: -450px;
	margin-top: 60px;
    width: 900px;
    height: 925px;
    background-color: #eee;
}
#表格 {
    position: fixed;
    display: none;
    z-index: 1000;
}

#表格, #图例 {
    border: solid 2px;
    border-radius: 5px;
    border-spacing: 0;
    text-align: center;
}

#图例 {
    position: absolute;
    top: 700px;
    left: 600px;
}

#表格 th {
    background-color: lightgrey;
}

#表格 td {
    background-color: lightgrey;
    cursor: pointer;
}

#分享 {
    padding: 20px;
	margin: 10px;
    position: absolute;
	top: 0px;
	left: 40%
}

#分享 a {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
}

#脸书 {
    background-color: #3b5998;
    color: white;
}

#btn1 {
    background-color: lightgrey;
    color: black;
}
#地图 {
	text-align: center;
	visibility: visible;
    position: absolute;
	left: 50%;
	margin-left: -450px;
	margin-top: 60px;
    width: 900px;
    height: 925px;
    background-color: #eee;
}

th, td {
    padding: 0.2em;
}

footer {
    font-size: x-small;
}

#追踪声明, #挖矿声明 {
    display: none;
}